<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset-"utf-8">
  <title>Nicholas Dupoux</title>
  <meta name="author" content="Nicholas Dupoux">

  <!--Styles-->
  <link href="./styles.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Header -->

  <div class="header">
    <div class="header-content">
      <h1 id="logo"><a href="#">Nicholas Dupoux</a></h1>
      <h2 id="slogan">Stanford CS Student, Web Developer, Software Engineer, Designer</h2>
      <!-- Menu -->
      <ul>
	<li><a href="#aboutme">About me</a></li>
	<li><a href="#resume">Resume</a></li>
	<li><a href="#projects">Projects</a></li>
	<li><a href="#blog">Blog</a></li>
	<li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
  
  <!-- Image Banner -->
  <div class="banner">
    <img src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-ash3/539020_10201583727852364_336749006_n.jpg">
  </div>

  <!-- Main Content -->
  <div class="content-wrapper">
    <div class="content">
      <div class="welcome-message">
	<h1>Welcome!</h1>
      </div>
      
      <hr class="content-divider first-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-ash3/526461_10201583430484930_1806067384_n.jpg">
	<h2 class="section-heading">I am an undergraduate at Stanford University</h2>
	<p class="section-content"> pursuing a bachelors degree in Computer Science. I will be a
	sophomore starting this fall, and plan to take as many computer science, design, and entrepreneurship classes as humanly possible. Over the past few months, I have developed an interest in business, start-up culture, and entrepreneurship, but my true passion still lies in software engineering, web development, and the pure craftmanship of code. <br> <br>
I am currently the web developer for the Stanford Robotics Club, and am hard at work developing its official website. My long-term goals include gaining real-world development experience through software engineering internships, working as part of a start-up, working in the Space industry as a software engineer, and one day attending graduate school to pursue a PhD. </p>
      </div>

      <hr class="content-divider">
      
      <div class="section">
	<img class="section-image pull-right" src="https://sphotos-b-iad.xx.fbcdn.net/hphotos-frc3/522762_10151275295572644_232629057_n.jpg">
	<h2 class="section-heading left">Want to get in touch with me?</h2>
	<p class="section-content"> <br> <br> The best way to reach me is via email:
	  <a id="email-link" href="mailto:njdupoux@stanford.edu">njdupoux@stanford.edu</a>
	</p>
	<p class="section-content"> <br> Or you can connect with me on the following sites: </p>
	<div class="icon-section">
	   <a class="icon" href="http://www.linkedin.com/pub/nicholas-dupoux/63/774/817"> <img src="../public/social-icons/linkedin_128.png"> </a>
	   <a class="icon" href="https://www.facebook.com/NJDupoux"><img src="../public/social-icons/facebook_128.png"></a>
	   <a class="icon" href="https://github.com/njdup"><img src="../public/social-icons/github-icon.png"></a>
	   <a class="icon" href="https://twitter.com/NJDup"><img src="../public/social-icons/twitter_128.png"></a>
	</div>
      </div>
    </div>
  </div>
      
</body>

</html>
