<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset-"utf-8">
  <title>Nicholas Dupoux</title>
  <meta name="author" content="Nicholas Dupoux">

  <!--Styles-->
  <link href="./styles.css" rel="stylesheet">
</head>

<body>
  <!-- Header -->

  <div class="header">
    <div class="header-content">
      <h1 id="logo"><a href="#">Nicholas Dupoux</a></h1>
      <h2 id="slogan">Stanford CS Student, Web Developer, Software Engineer, Designer</h2>
      <!-- Menu -->
      <ul>
	<li><a href="#resume">Resume</a></li>
	<li><a href="#projects">Projects</a></li>
	<li><a href="#blog">Blog</a></li>
      </ul>
    </div>
  </div>

</body>

</html>
