<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset-"utf-8">
  <title>Nicholas Dupoux</title>
  <meta name="author" content="Nicholas Dupoux">

  <!--Styles-->
  <link href="./styles.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Header -->

  <div class="header">
    <div class="header-content">
      <h1 id="logo"><a href="#">Nicholas Dupoux</a></h1>
      <h2 id="slogan">Stanford CS Student, Web Developer, Software Engineer, Designer</h2>
      <!-- Menu -->
      <ul>
	<li><a href="#aboutme">About me</a></li>
	<li><a href="#resume">Resume</a></li>
	<li><a href="#projects">Projects</a></li>
	<li><a href="#blog">Blog</a></li>
      </ul>
    </div>
  </div>
  
  <!-- Image Banner -->
  <div class="banner">
    <img src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-ash3/539020_10201583727852364_336749006_n.jpg">
  </div>

  <!-- Main Content -->
  <div class="content-wrapper">
    <div class="content">
      <div class="welcome-message">
	<h1>Welcome!</h1>
	<p> Thanks for visiting my site! </p>
      </div>
      
      <hr class="content-divider first-divide">

      <div class="section">
	<img class="section-image pull-left" src="https://sphotos-a-iad.xx.fbcdn.net/hphotos-ash3/526461_10201583430484930_1806067384_n.jpg">
      </div>
      
    </div>
  </div>
      
</body>

</html>
