<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset-"utf-8">
  <title>Nicholas Dupoux</title>
  <meta name="author" content="Nicholas Dupoux">

  <!--Styles-->
  <link href="./styles.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script src="./animation.js"></script>

  <!-- Google Analytics Code -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43054097-2', 'stanford.edu');
  ga('send', 'pageview');

  </script>
</head>

<body>
  <!-- Header -->

  <div class="header">
    <div class="header-content">
      <h1 id="logo"><a href="#">Nicholas Dupoux</a></h1>
      <h2 id="slogan">Stanford CS Student, Web Developer, Software Engineer, Designer</h2>
      <!-- Menu -->
      <ul>
	<li><a href="#aboutme">About me</a></li>
	<li><a href="./resume.pdf">Resume</a></li>
	<li><a href="http://njdup.wordpress.com/">Blog</a></li>
	<li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
  
  <!-- Image Banner -->
  <div class="banner">
    <div class="appWindow">
      <img src="http://farm3.staticflickr.com/2806/9660151658_230479c3e9_o.png">
      <div id="firstLine">
	<p class="terminal">njdupoux@stanford.edu$ </p>
	<o class="terminal" id="cursor">_</p>
      </div>
   <div id="secondLine"></div>
   <div id="thirdLine"></div>
   <script type="text/javascript">
     animation();
     animationPartTwo();
     animationPartThree();
     runningAnimation();
   </script>
   </div>
  </div>

  <!-- Main Content -->
  <div class="content-wrapper">
    <div class="content">
      <div class="welcome-message">
	<h1>Welcome!</h1>
      </div>
      
     <a name="aboutme"><hr class="content-divider first-divide"></a>

      <div class="section">
	<img class="section-image pull-left" src="http://farm3.staticflickr.com/2831/9640704720_a6bc6557a8_o.jpg">
	<h2 class="section-heading">I am an undergraduate at Stanford University</h2>
	<p class="section-content"> pursuing a bachelors degree in Computer Science. I will be a
	sophomore starting this fall, and plan to take as many computer science, design, and entrepreneurship classes as humanly possible. Over the past few months, I have developed an interest in business, start-up culture, and entrepreneurship, but my true passion still lies in software engineering, web development, and the pure craftsmanship of code. <br> <br>
I am currently the web developer for the Stanford Robotics Club, and I'm hard at work developing its official website. My long-term goals include gaining real-world development experience through software engineering internships, working as part of a start-up, working in the Space industry as a software engineer, and one day attending graduate school to pursue a PhD. </p>
      </div>

      <a name="contact"><hr class="content-divider"></a>
      
      <div class="section">
	<img class="section-image pull-right" src="http://farm8.staticflickr.com/7407/9640704878_7ea45b6012_o.jpg">
	<h2 class="section-heading left">Want to get in touch with me?</h2>
	<p class="section-content push-right"> <br> <br> The best way to reach me is via email:
	  <a id="email-link" href="mailto:njdupoux@stanford.edu">njdupoux@stanford.edu</a>
	</p>
	<p class="section-content push-right"> <br> Or you can connect with me on the following sites: </p>
	<div class="icon-section">
	   <a class="icon" href="http://www.linkedin.com/pub/nicholas-dupoux/63/774/817"> <img src="http://farm8.staticflickr.com/7321/9640707612_2ab6cf9cf6_o.png"></a>
	   <a class="icon" href="https://www.facebook.com/NJDupoux"><img src="http://farm8.staticflickr.com/7414/9640706566_34433e7986_o.png"></a>
	   <a class="icon" href="https://github.com/njdup"><img src="http://farm3.staticflickr.com/2885/9640708946_d3cf7e0172_o.png"></a>
	   <a class="icon" href="https://twitter.com/NJDup"><img src="http://farm4.staticflickr.com/3687/9640708416_d720fd2bf4_o.png"></a>
	</div>
      </div>

      <hr class="content-divider" id="footer-divide">

      <div class="footer">
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p class="footer-text"> &copy; Nicholas Dupoux. All Rights Reserved. </p>
      </div>

    </div>
  </div>

</body>

</html>
